.background {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #000000df;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    background-color: #fffffff3;
    margin-top: 5%;
}